html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  margin: 0px;
  max-width: 1244px;
  margin: auto;
}

ul {
  padding-inline-start: 0px;
}

@font-face {
  font-family: Hiker;
  src: url(../fonts/Hiker.otf);
}

#menu-bar {
  background-color: #008441;
  background-color: #1a5632;
  position: sticky;
  top: 0px;
  z-index: 1;
}

#menu-list {
  display: flex;
  justify-content: space-around;
  margin: 0px;
}

.menu-item {
  display: flex;
  margin: 1em;
  font-size: 12pt;
  font-family: Helvetica;
  color: #fff;
}

.menu-item:hover {
  color: #fc7f30;
  cursor: pointer;
}

#header {
  background-color: #008441;
  background-color: #1a5632;
  display: flex;
  justify-content: center;
}

#header-logo {
  height: 200px;
}

#header-name {
  height: 122px;
  padding-top: 80px;
}

.header-img {
  padding: 50px 30px;
}



#copy-container {
  padding: 50px 50px;
  background-color: beige;
//  display: none;
}


#copy-container > div {
  display: none;
}

#copy-container > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-content: center;
}


#services-text {
  margin-left: 50px;
}


#services-photo-1 {
  display: inline-block;
  width: 320px;
  
}

#services-text > h1 {
  font-family: Hiker, fantasy;
}




#carousel-container {
  background-color: #b5d7eb;
  height: 900px;
}

#slider {
}

#carousel-window {
  overflow: hidden;

}

#carousel-slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: 0px;
  transition: left 0.3s;

}

.carousel-frame {
  height: 700px;
}



//.carousel-frame {
//  display: none;
//}
//
//.carousel-frame:first-child {
//  display: inline-block;
//  width: 500px;
//}

.car-img {
  height: inherit;
}

.carousel-button {
  color: #fff;
  font-size: 120pt;

display: none;

}

.carousel-button:hover {
  cursor: pointer;
}

#carousel-tagline {
  color: #fff;
  background-color: orange;
  width: 300px;
  text-align: center;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}




